:root {
    --color-dark: #222;
    --color-white: #ffffff;
    --color-dark-blue: #212336;
    --color-pink: #FF4A57;
    --color-darkPink: #ad343c;
    --color-bg-blue: #23263A;
    --color-footer-blue: #1f2231;
    --color-card-blue: #2B2D41;
    --color-card-blue-shadow: #3c3f5a;
    --color-gray-text: #3A3D4E;
    --font-body: "Mulish", sans-serif;
    --font-link: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
    font-weight: 500;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    background-color: var(--color-bg-blue);
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}