.card-list1 {
    margin-bottom: 50rem;
}

button {
    border: none;
    color: var(--color-white);
    background-color: var(--color-card-blue);
    display: flex;
    justify-content: center;
    
    & .ProjetosBtn {
        font-weight: 500;
        background-color: var(--color-pink);
        border-radius: .5rem;
        color: var(--color-white);
        display: flex;
        justify-content: center;
        width: 60%;
        height: 3.2rem;
        align-items: center;
        transition: .3s;
    }
}

.ProjetosBtn:hover {
    background-color: var(--color-card-blue);
    border: 1px var(--color-pink) solid;
}

.line {
    width: 4%;
    background-color: var(--color-pink);
    height: .4rem;
}

.bg-card {
    background-color: var(--color-card-blue);
    height: 35rem;
}

.card-icon {
    & i {
        font-size: 3.6rem;
    }
}

.mt-footer {
    margin-top: 20rem;
}

.card{
    transition: .3s;
}

.card:hover{
    scale: 1.01;
    box-shadow: 1px 1px 2rem var(--color-card-blue-shadow);
}

@media (max-width: 1200px){
    .card-list1 , .card-list2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }

    .Habilidades, .Projetos{
        margin-top: 30rem;
        min-width: 100%;
    }
    
    .card{
        min-width: 60%;

    }
}

@media (width <= 992px){
    .card{
        min-width: 80%;

    }
}

@media (max-width:768px){
    .card-list1 , .card-list2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
}