.color-dark-blue {
    background-color: var(--color-dark-blue);
}

.color-bg-blue {
    background-color: var(--color-bg-blue);
}

.pink {
    color: var(--color-pink);
}

.darkPink {
    color: var(--color-darkPink);
}

.gray {
    color: var(--color-gray-text);
}