.fs-title {
    font-size: 8rem;
}

.fs-subtitle {
    font-size: 2.6rem;
}

.mt-title {
    margin-top: 14rem;
}

.font-link {
    font-family: var(--font-link);
    font-weight: 400;
}

.w-40 {
    width: 81%;
}

.bubble {
    & img {
        max-width: 60rem;
    }
}

.social-media {
    height: 37rem;
    
    & i {
        font-size: 5rem;
    }
}

.socialMediaHover{
    color: var(--color-pink);
    transition: .25s;
}

.socialMediaHover:hover{
    color: var(--color-darkPink);
}

.arrow:hover .arrow-down{
    animation: arrow-down 1s infinite ease-out;
    color: var(--color-darkPink);
    transition: .25s;
}

@keyframes arrow-down {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-7px);
    }

    100% {
        transform: translateY(7px);
    }
}

@media (max-width: 768px){
    .main-text{
        justify-content: center;
        align-items: center;
        text-align: center;

        .main-txt{
            gap: 3rem;
        }
    }

    .arrow-down{
        display: none;
    }
}